@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

:root {
    --color-primary: #3490dc;
    --color-secondary: #ffed4a;
    --color-danger: #e3342f;
}

.theme-light {
    --bg-color: #f0f0f0;
    --text-color: #333;
    --accent-color: #4834df;
    --button-bg: #f0f0f0;
    --button-text: #333;
    --button-hover: #333;
    --button-hover-text: #fff;
    --heading-color: #2d3748;
    --border-color: #333;
    --highlighted-color: #fdfdfd;
    --highlighted-text: #1a1a1a;
}

.theme-dark {
    --bg-color: #1a1a1a;
    --text-color: #f0f0f0;
    --accent-color: #fad02e;
    --button-bg: #1a1a1a;
    --button-text: #fff;
    --button-hover: #6a89cc;
    --button-hover-text: #fff;
    --heading-color: #e2e8f0;
    --border-color: #6a89cc;
    --highlighted-color: rgb(31 41 55);
    --highlighted-text: #fff;
}

.theme-purple {
    --bg-color: #1a1a1a;
    --text-color: #bb86fc;
    --accent-color: #fad02e;
    --button-bg: #1a1a1a;
    --button-text: #bb86fc;
    --button-hover: #bb86fc;
    --button-hover-text: #1a1a1a;
    --heading-color: #bb86fc;
    --border-color: #bb86fc;
    --highlighted-color: rgb(31 41 55);
    --highlighted-text: #fff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.accent {
    color: var(--accent-color);
}

.button {
    background-color: var(--button-bg);
    color: var(--button-text);
}

.button:hover {
    background-color: var(--button-hover);
    color: var(--button-hover-text);
}

.heading {
    color: var(--heading-color);
}

.bordered {
    border: 2px solid var(--border-color);
}
.bordered-1 {
    border: 1px solid var(--border-color);
}
.border-bottom {
    border-bottom: 2px solid var(--border-color);
}

.highlighted-text {
    color: var(--highlighted-color);
}

.cur-cursor {
    border-bottom: 2px solid var(--accent-color);
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -1px) rotate(-0.5deg);
    }
    20% {
        transform: translate(-2px, 0px) rotate(0.5deg);
    }
    30% {
        transform: translate(2px, 1px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(0.5deg);
    }
    50% {
        transform: translate(-1px, 1px) rotate(-0.5deg);
    }
    60% {
        transform: translate(-2px, 0.5px) rotate(0deg);
    }
    70% {
        transform: translate(2px, 0.5px) rotate(-0.5deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(0.5deg);
    }
    90% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -1px) rotate(-0.5deg);
    }
}

.shake {
    animation: shake 1s;
    animation-iteration-count: 1;
}

@keyframes confetti-fall {
    0% {
        transform: translateY(-100vh) rotate(0deg);
    }
    100% {
        transform: translateY(100vh) rotate(720deg);
    }
}

.confetti {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
}

.confetti-piece {
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    opacity: 0.7;
    transform: rotate(45deg);
    animation: confetti-fall 2s ease-out forwards;
}

.animated-border {
    position: relative;
    padding: 10px 20px;
    border-radius: 15px;
    background: var(--bg-color);
    z-index: 1;
}

.animated-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    padding: 2px;
    background: linear-gradient(90deg, #743ad5, #d53a9d);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    animation: borderAnimation 3s ease-in-out infinite;
    z-index: -1;
}

@keyframes borderAnimation {
    0% {
        background: linear-gradient(90deg, #d53a9d, #743ad5);
    }
    25% {
        background: linear-gradient(25deg, #743ad5, #d53a9d);
    }
    50% {
        background: linear-gradient(90deg, #d53a9d, #743ad5);
    }
    75% {
        background: linear-gradient(25deg, #743ad5, #d53a9d);
    }
    100% {
        background: linear-gradient(90deg, #d53a9d, #743ad5);
    }
}
